#!/usr/bin/make -f
# vim:noet:ts=4:sw=4:

%:
	dh $@ --with quilt

override_dh_auto_configure:
	dh_autoreconf
	./configure --enable-shared=yes \
				--prefix=/usr \
				--with-sql=yes \
				--with-mysql \
				--with-postgresql \
				--with-libvirt \
				--with-lmdb \
				--with-libxml2 \
				--with-workdir=/var/lib/cfengine3 \
				--with-logdir=/var/log/cfengine3 \
				--with-piddir=/run/cfengine3 \
				--libdir=/usr/lib/cfengine3 \
				--docdir=\$${prefix}/share/doc/cfengine3 \
				--datadir=\$${prefix}/share/cfengine3 \
				--mandir=\$${prefix}/share/man \
				--infodir=\$${prefix}/share/info \
				--htmldir=\$${prefix}/share/doc/cfengine3/html \
				CFLAGS="$(CFLAGS)" LDFLAGS="-Wl,-z,relro" \
				CPPFLAGS=-D_FORTIFY_SOURCE=2

override_dh_clean:
	dh_autoreconf_clean
	dh_clean --exclude=#008.cf#

override_dh_compress:
	dh_compress -X.cf

override_dh_installinfo:

override_dh_strip:
	dh_strip --dbg-package=cfengine3-dbg

override_dh_installchangelogs:
	rm debian/cfengine3/usr/share/doc/cfengine3/ChangeLog
	dh_installchangelogs

##  There is no html documentation
#
override_dh_installdocs:
	dh_installdocs

override_dh_install:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Add here commands to install the package into debian/cfengine3.
	$(MAKE) DESTDIR=$(CURDIR)/debian/cfengine3 install
	/bin/rmdir $(CURDIR)/debian/cfengine3/usr/sbin
	/bin/mv $(CURDIR)/debian/cfengine3/usr/bin $(CURDIR)/debian/cfengine3/usr/sbin

	/bin/rmdir $(CURDIR)/debian/cfengine3/var/lib/cfengine3/inputs
	/bin/rm $(CURDIR)/debian/cfengine3/usr/lib/*.la

	## Man pages are created with an undocumented flag
	#
	/bin/mkdir -p $(CURDIR)/debian/cfengine3/usr/share/man/man8/
	for p in cf-agent cf-key cf-promises cf-runagent cf-execd cf-serverd cf-monitord; \
    do \
        $(CURDIR)/$$p/$$p -M > $(CURDIR)/debian/cfengine3/usr/share/man/man8/$$p.8 ;\
    done
